<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
	<div class="main_title" id="contentFullName"></div>
</div>
<div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
	<div class="about_content">
		<div class="about_title">Description</div>
		<div class="about_text">
			<p id="about-text"></p>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="about_title">Skills</div>
				<ul class="listStyle skillsList">	
				</ul>
			</div>

			<div class="col-md-6">
				<div class="about_title">Languages</div>
				<ul class="listStyle languagesList">
				</ul>
			</div>

			<div class="col-md-6">
				<div class="about_title">Interests</div>
				<ul class="listStyle interestList">
				</ul>
			</div>
		</div>

	</div>
</div>