<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
	<div class="main_title">Contact me</div>
</div>
<div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
<!-- Contact -->
<div class="contact">
	<div class="container-fluid">
		<div class="row">
			<!-- Contact Form -->
			<div class="col-xl-6">
				<div class="contact_text">
					<p>Have a question? If you can't find what you're looking for, i'd be happy to point you in the right direction. Feel free to send me an email any time.</p>
				</div>
				<div class="contact_form_container">
					<form action="#" id="contact_form" class="contact_form clearfix">
						<div><input type="text" class="contact_input" placeholder="Name" required="required"></div>
						<div><input type="email" class="contact_input" placeholder="E-mail" required="required"></div>
						<input type="text" class="contact_input" placeholder="Subject" required="required">
						<textarea class="contact_input contact_textarea" placeholder="Message" required="required"></textarea>
						<button class="contact_button">Send Message</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
