<div class="main_title_container d-flex flex-column align-items-start justify-content-end">
<div class="main_title">My Education</div>
</div>
<div class="main_content_scroll mCustomScrollbar" data-mcs-theme="minimal-dark">
	<!-- Education -->
	<div class="education">

		<!-- Education Item -->

	</div>
</div>
