<div class="navbar navbar-expand-lg navbar-dark" id="Navbar">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>

	<nav class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link active" onclick="getAbout()" href="#">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" onclick="getWorkExperience()" href="#">Experience</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" onclick="getEducation()" href="#">Education</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" onclick="getContact()" href="#">Contact</a> 
			</li>
	
		</ul>
	</nav>
</div>
<script src="js/navBar.js"></script>
