@charset "utf-8";
/* CSS Document */

/************
	1199px
************/

@media only screen and (max-width: 1199px)
{
	.contact_form div
	{
		float: left;
		width: calc((100% - 30px) / 2);
	}
	.contact_form > div:first-child
	{
		margin-right: 30px;
	}
	.contact
	{
		padding-bottom: 60px;
	}
}

/************
	767px
************/

@media only screen and (max-width: 767px)
{
	.contact_form div
	{
		float: none;
		width: 100%;
	}
	.contact_form > div:first-child
	{
		margin-right: 0px;
	}
}

/************
	575px
************/

@media only screen and (max-width: 575px)
{
	.contact_form_container,
	.contact_text
	{
		padding-right: 0;
	}
	.contact_button
	{
		font-size: 12px;
		width: 179px;
    	height: 45px;
	}
}