@charset "utf-8";
/* CSS Document */

.contact .container-fluid
{
	padding-left: 0;
	padding-right: 0;
}

.contact_input
{
	width: 100%;
	height: 40px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: solid 2px #a5a5a5;
	margin-bottom: 16px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.contact_textarea
{
	height: 125px;
	padding-top: 15px;
}
.contact_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 500 !important;
	font-style: italic;
	color: #838383 !important;
}
.contact_button
{
	width: 239px;
	height: 55px;
	background: #8583e1;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	border: none;
	outline: none;
	margin-top: 26px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.contact_button:hover
{
	background: #100f3a;
}