@charset "utf-8";
/* CSS Document */


/************
	991px
************/

@media only screen and (max-width: 991px)
{
	.edu_content
	{
		padding-left: 0px;
		margin-top: 30px;
	}
	.edu_year
	{
		margin-bottom: 60px;
	}
}