@charset "utf-8";
/* CSS Document */

/***********
	Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,900');


/*********************************
	Education
*********************************/

.edu_item:not(:last-child)
{
	margin-bottom: 20px;
}
.edu_year
{
	width: 100px;
	font-size: 24px;
	font-weight: 700;
	color: #8583e1;
	line-height: 0.75;
}
.edu_content
{
	padding-left: 38px;
}
.edu_title
{
	font-size: 24px;
	font-weight: 700;
	color: #100f3a;
	line-height: 0.75;
}
.edu_subtitle
{
	font-size: 16px;
	font-weight: 600;
	color: #838383;
	margin-top: 7px;
	padding-left: 1px;
}
.edu_text
{
	margin-top: 18px;
	padding-left: 2px;
}