@charset "utf-8";
/* CSS Document */

/************
	767px
************/

@media only screen and (max-width: 767px)
{
	.exp_time
	{
		width: auto;
		text-align: left;
	}
	.exp_content
	{
		padding-left: 0px;
		margin-top: 45px;
	}
}