@charset "utf-8";
/* CSS Document */


/*********************************
	Experience
*********************************/

.exp_time
{
	width: 100px;
	font-size: 24px;
	font-weight: 700;
	color: #8583e1;
	line-height: 0.75;
}
.exp_content
{
	padding-left: 38px;
}
.exp_title
{
	font-size: 24px;
	font-weight: 700;
	color: #100f3a;
	line-height: 0.75;
}
.exp_subtitle
{
	font-size: 16px;
	font-weight: 600;
	color: #838383;
	margin-top: 7px;
	padding-left: 1px;
}
.exp_text
{
	margin-top: 18px;
	padding-left: 2px;
}