
/***********
	Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,900');

/*********************************
	Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #a5a5a5;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p, li 
{
	overflow-wrap: break-word;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #838293;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.super_container
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding-left: 40px;
	padding-bottom: 45px;
	padding-right: 41px;
	padding-top: 97px;
}

.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}

/*********************************
	Header
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 97px;
	background: #FFFFFF;
	padding-top: 38px;
	padding-left: 40px;
	padding-right: 40px;
	z-index: 10;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

#Navbar{
	background: #100f3a;
}
.navbar-dark .nav-item > .nav-link.active  {
    color:white;
}

.content_container
{
	width: 100%;
	height: 100%;
}

/*********************************
	Content
*********************************/

.main_content_outer
{
	width: 100%;
	height: 100%;
	background: #f5f0f0;
	overflow: hidden;
}
.general_info
{
	width: 473px;
	height: 100%;
	background: #100f3a;
}
.general_info_image
{
	width: 100%;
	height: 400px;
}
.general_info_content
{
	width: 100%;
	height: 100%;
	padding-left: 77px;
	padding-top: 49px;
	padding-right: 15px;
	padding-bottom: 20px;
	overflow: hidden;
}
.general_info_content_inner
{
	width: 100%;
	max-height: 100%;
}
.general_info_title
{
	font-size: 30px;
	font-weight: 600;
	color: #FFFFFF;
	line-height: 1.2;
}
.general_info_list
{
	margin-top: 34px;
}
.general_info_list li:not(:last-child)
{
	margin-bottom: 15px;
}
.general_info_icon
{
	width: 21px;
	height: 21px;
	margin-right: 24px;
}
.general_info_icon img
{
	max-width: 100%;
}
.general_info_text,
.general_info_text a
{
	font-size: 14px;
	color: #7a798c;
	line-height: 1.2;
}
.general_info_text a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.general_info_text a:hover
{
	color: #FFFFFF;
}
.general_info_text span
{
	color: #FFFFFF;
}

.main_content
{
	width: calc(100% - 473px);
	height: 100%;
	padding-left: 82px;
	padding-right: 30px;
	overflow-y: scroll;
}
.main_title_container
{
	width: 100%;
	height: 80px;
}
.main_subtitle
{
	font-size: 30px;
	font-weight: 500;
	color: #7a798c;
	line-height: 0.75;
}
.main_title
{
	font-size: 50px;
	font-weight: 800;
	color: #100f3a;
	line-height: 0.75;
	margin-top: 12px;
}

.main_content_scroll
{
	margin-top: 72px;
	max-height: calc(100% - 193px - 72px - 30px);
	padding-right: 60px;
}

.about_title
{
	font-size: 30px;
	font-weight: 700;
	color: #100f3a;
}
.about_text
{
	margin-top: 31px;
}

.fas {
	color: #8583e1;
 }

 .listStyle {
	 padding-top: 15px;
}