@charset "utf-8";
/* CSS Document */


/************
	1440px
************/

@media only screen and (max-width: 1440px)
{
	#side-content{
		width: 100%;
	}
	.general_info
	{
		width: 400px;
	}
	.general_info_image
	{
		height: 400px;
	}
	.general_info_content
	{
		padding-left: 50px;
	}
	.main_content
	{
		width: calc(100% - 400px);
	}
	.main_title
	{
		font-size: 50px;
	}
}

/************
	1199px
************/

@media only screen and (max-width: 1199px)
{
	.super_container
	{
		width: 100%;
		height: auto;
	}
	.general_info
	{
		width: 100%;
	}
	.main_content_outer
	{
		height: auto;
	}
	.general_info_image
	{
		width: 473px;
		height: 473px;
	}
	.main_content
	{
		width: 100%;
		padding-bottom: 52px;

	}
	.general_info_content
	{
		padding-left: 80px;
	}
	.general_info_title
	{
		font-size: 24px;
	}
}

/************
	991px
************/

@media only screen and (max-width: 991px)
{
	.general_info_content
	{
		padding-left: 50px;
	}
}

/************
	959px
************/

@media only screen and (max-width: 930px)
{
	.general_info_image
	{
		width: 323px;
	}
}

/************
	767px
************/

@media only screen and (max-width: 767px)
{
	.general_info_image
	{
		width: 100%;
		height: calc(100vw - 81px);
	}
	.general_info_content
	{
		padding-bottom: 40px;
	}
	.main_content
	{
		padding-left: 52px;
		padding-bottom: 52px;
	}
	.main_title
	{
		font-size: 48px;
	}
	.main_subtitle
	{
		font-size: 24px;
	}
}

/************
	575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	.super_container
	{
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 60px;
	}
	.header
	{
		height: 60px;
		padding-top: 10px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.general_info_image
	{
		height: calc(100vw - 30px);
	}
	.main_content
	{
		padding-left: 30px;
		padding-right: 30px;
	}
	.main_content_scroll
	{
		padding-right: 0;
	}
	.main_title_container
	{
		height: 153px;
	}
	.main_title
	{
		font-size: 36px;
	}
	.main_subtitle
	{
		font-size: 18px;
	}
	.about_title
	{
		font-size: 24px;
	}
}